body {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  margin: 0;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

form {
  background-color: #eee;
  border-bottom: solid thin #aaa;
  box-shadow: inset 0 -1em 2em rgba(0, 0, 0, 0.1);
  color: #000;
  display: inline-flex;
  font-size: 12px;
}

select {
  font-family: inherit;
  font-size: 12px;
  color: inherit;
  background-color: inherit;
  border-radius: 4px;
  min-width: 10ch;
}

label {
  display: inline-block;
  padding: 5px;
}

iframe {
  border: none;
  flex-grow: 1;
}

.hide {
  display: none;
}
