<div class="<%= fragmentSlug %>"><%_ if (useDataLfrEditables) { _%>
  <h1 data-lfr-editable-id="title" data-lfr-editable-type="text">
    <%= fragmentName %>
  </h1>
<%_ } else if (fragmentType == 'component') { %>
  <h1>
    <lfr-editable id="title" type="text">
      <%= fragmentName %>
    </lfr-editable>
  </h1>
<%_ } else { %>
  Loading...
<%_ } %></div>
