<%_ if (useDataLfrEditables) { _%><div class="<%= fragmentSlug %>">
  <h1 data-lfr-editable-id="title" data-lfr-editable-type="text">
    <%= fragmentName %>
  </h1>
</div><%_ } else if (fragmentType == 'component') { %><div class="<%= fragmentSlug %>">
  <h1>
    <lfr-editable id="title" type="text">
      <%= fragmentName %>
    </lfr-editable>
  </h1>
</div><%_ } %>
