<%_ if (fragmentType == 'react') { %>import React from 'react';

export default function (props) {
  console.log("props", props);

  return <h1>Hello world</h1>;
}<%_ } else { %>console.group('<%= fragmentName %>');
console.log('fragmentElement', fragmentElement);
console.log('configuration', configuration);
console.groupEnd();<%_ } %>
